<tr onmouseover="document.getElementById('botoesC1').style.display = 'flex';" onmouseout="document.getElementById('botoesC1').style.display = 'none';">
    <td>Técnico de informática - Sistemas</td>
    <td>TIS</td>
    <td>Informática</td>
    <td class="my-auto" style="display: none;" id="botoesC1">
        <button type="button"  class="col-6 btn btn-primary mx-1"  onclick="openModal('edicaoCurso1');">editar</button>
        <button type="button" class="col-6 btn btn-danger mx-1"  onclick="openModal('eliminacaoCurso1');">eliminar</button>
    </td>
</tr>
<div class="modal fade" id="edicaoCurso1" style="text-align: left;" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container mb-1">
                    <div class="criarAluno shadow-lg p-3 bg-body rounded">
                        <div class="row">
                            <div class="col-4 mx-auto">
                                <img class="img-fluid" style="width:auto;" src="http://localhost:3000/files/Assets/curso.svg" alt="aluno">
                            </div>
                            <div class="col-md-8">
                                <form id="formEdicaoCurso1">
                                    <div class="row mt-4">
                                        <div class="col-sm-6 mt-1">
                                            <label for="curso1" class="form-label"><strong>Nome do curso</strong></label>
                                            <input type="text" class="form-control" id="curso1" value="Técnico de informática - Sistemas">
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <label for="pUltimo" class="form-label"><strong>Sigla</strong></label>
                                            <input type="text" class="form-control" id="pUltio" value="TIS">
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <label for="turma" class="form-label"><strong>Area</strong></label>
                                            <select id="curso" class="form-select col-sm-12" aria-label="Default select example" >
                                                <option value="1" selected>Informática</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 mt-1">
                                            <label for="turma" class="form-label"><strong>Duração</strong></label>
                                            <select id="duracao1" class="form-select col-sm-12" aria-label="Default select example" >
                                                <option value="3" selected>3</option>
                                                <option value="1" selected>1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt-4">
                                        <center><button type="button" class="col-sm-4 btn btn-primary  mx-1" style="border-radius: 30px;">Confirmar alterações</button></center>                                
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div> 

<tr onmouseover="document.getElementById('botoesC1').style.display = 'flex';" onmouseout="document.getElementById('botoesC1').style.display = 'none';">
    <td>Técnico de informática - Sistemas</td>
    <td>TIS</td>
    <td>Informática</td>
    <td class="my-auto" style="display: none;" id="botoesC1">
        <button type="button"  class="col-6 btn btn-primary mx-1"  onclick="openModal('edicaoCurso1');">editar</button>
        <button type="button" class="col-6 btn btn-danger mx-1"  onclick="openModal('eliminacaoCurso1');">eliminar</button>
    </td>
</tr>
<div class="modal fade" id="edicaoCurso1" style="text-align: left;" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-body">
            <div class="container mb-1">
                <div class="criarAluno shadow-lg p-3 bg-body rounded">
                    <div class="row">
                        <div class="col-4 mx-auto">
                            <img class="img-fluid" style="width:auto;" src="http://localhost:3000/files/Assets/curso.svg" alt="aluno">
                        </div>
                        <div class="col-md-8">
                            <form id="formEdicaoCurso1">
                                <div class="row mt-4">
                                    <div class="col-sm-6 mt-1">
                                        <label for="curso1" class="form-label"><strong>Nome do curso</strong></label>
                                        <input type="text" class="form-control" id="curso1" value="Técnico de informática - Sistemas">
                                    </div>
                                    <div class="col-sm-6 mt-1">
                                        <label for="pUltimo" class="form-label"><strong>Sigla</strong></label>
                                        <input type="text" class="form-control" id="pUltio" value="TIS">
                                    </div>
                                    <div class="col-sm-6 mt-1">
                                        <label for="turma" class="form-label"><strong>Area</strong></label>
                                        <select id="curso" class="form-select col-sm-12" aria-label="Default select example" >
                                            <option value="1" selected>Informática</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 mt-1">
                                        <label for="turma" class="form-label"><strong>Duração</strong></label>
                                        <select id="duracao1" class="form-select col-sm-12" aria-label="Default select example" >
                                            <option value="3" selected>3</option>
                                            <option value="1" selected>1</option>
</div>
                                            </div>
                                        <div class="col-sm-12 mt-4">
                                            <center><button type="button" class="col-sm-4 btn btn-primary  mx-1" style="border-radius: 30px;">Confirmar alterações</button></center>                                
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div> 